body{
  
    font-family: 'Righteous', cursive;
    background-color: #FF7B54;
    z-index: -1;
}
#home{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color);
  padding-top: 6rem;
  padding-bottom: 3rem;
  width: 100%;
}
.carousel-indicators{
  bottom: -1em;

}
.carousel-item{
 padding: 5% 18%;
 
}
.product-1{
  position: relative;
  color: white;
  width: fit-content;
  font-size: 2rem;
  text-decoration: 0;
  top: 1.5rem;
}
.product-1:hover{
  transition: 400ms;
  color: #FFB26B;
}


.topnav {
  position: fixed;
  width: 100%;
    background-color: #FFB26B;
    overflow: hidden;
    padding: 20px 0;
    margin: 0;
    z-index: 1;
  }
  
 
  .topnav a {
    text-align: end;
    position: relative;
    right: 18px;
    margin-left: 32px;
    float: right;
    font-family: 'Righteous', cursive;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  :root{
    --color: #939B62;
  }
  .topnav a::after{
    content: "";
    position: absolute;
    display: block;
    height: 0.3em;
    width: 0%;
    background-color: var(--color);
    bottom: 5px;
    transition: all ease-out 300ms
  }
  .topnav:first-child{
    margin-right: auto;
    
  }
   a:hover::after{
    width: 62%;
  }
 
  .topnav a:hover {
    transition: all ease-out 500ms;
    color: #939B62;
  }
  #rollo-icon{
      background-color: #FFD56B;
      text-align: center;
  }
  #rollo{
    position: absolute;
     height: 80px;
     bottom: 1px;
      
  }
 h1{
     
    font-size: 48px;
     color: white;
     position: relative;
     margin-left: 32px;
     text-align: start;
 }
 .h1-color{
   color: #FFD56B;
 }

.about{
  width: fit-content;
  margin-top: 20em;
}
 .paragrafo{
   
   font-family: 'Mulish', sans-serif;
  margin-left: 32px;
  line-height: 2;
   text-align: start;
   color: white;
   font-size: 24px;

 }
 #paraph-div{
   border-radius: 8px;
   height: fit-content;
   
 }
 .enoij{
   margin-bottom: 16px;
   font-family: 'Righteous', cursive;
   color: #FFD56B;
   font-style: unset;
  font-size: 32px;
 }


.about-text{
  position: absolute;
  top: 1px;
}
.about{
 margin-top: 4%;
}

.about-text{
  position: relative;
  width: fit-content;
}
.about-text::after{
  content: "";
  bottom: 8px;
  position: relative;
  display: block;
  height: 6px;
  width: 00%;
  background-color:#FFD56B;
  transition: all ease-out 550ms;
}
.about-text:last-child{
  margin-right: auto;
}
.about-text:hover{
  
  transition: all ease-out 550ms;
  color: #FFD56B;
}.about-text:hover::after{
  width: 100%;
}

#product{
  
  font-display: center;
  color: white;
  position: absolute;
  display:block;
  font-size: 16px;
}
#product:hover{
  color: white;
}

.founder-h1{
  font-family: 'Mulish', sans-serif;
  font-size: 2rem;
  text-align: center;
  right: 2rem;
  padding: 4%;
}
#creator-img{
  position: relative;
  border-radius: 16em;
  margin-top: 16px;
  right: 16px;
  bottom: 16px;
  height: 200px;
}
.nicola{
  position: relative;
  right: 16px;
  font-family: 'Mulish', sans-serif;
  line-height: 1.5;
  color: white
}

.nicola:hover{
  color: white;
  background-color: grey;
}

.div-contact{
  margin-top: 2rem;
  overflow: hidden;
  text-align: center;
  position: relative;
  background-color: #FFB26B;
  
}
.facebook-link{
  position: relative;
  width: fit-content;
  right: 2em;
  font-size: 24px;
  text-decoration: 0;
  display: inline;
  color: white;
}.facebook-link::after{
  content: "";
  position: absolute;
  right: 0;
  width: fit-content;
  height: 3px;
  width: 0;
  background-color: #4267B2;
  transition: all ease-out 550ms;
}.facebook-link:hover::after{
  width: 100%;
}.facebook-link:hover{
  text-decoration: 0;
  transition: all ease-out 550ms;
  color: #4267B2;
}
.etsy-link{
  position: relative;
  left: 1em;
  font-size: 24px;
  color: white;
  text-decoration: 0;
  display: inline;
}.etsy-link::after{
  content: "";
  position: absolute;
  right: 0;
  width: fit-content;
  height: 3px;
  width: 0;
  background-color: #D5641C;
  transition: all ease-out 550ms;
}.etsy-link:hover::after{
  
  width: 100%;
}
.etsy-link:hover{
  transition: all ease-out 550ms;
  text-decoration: 0;
  color: #D5641C;
}
.contact-h1{
  text-align: center;
  position: relative;
  margin-top: 4%;
}

.rollo-end{
  text-align: center;
  margin-top: 8px;
  font-size: 18px;
  color: #FF7B54;
}.email{
  color: white;
  font-size: 20px;
  width: fit-content;
  position: relative;
  text-align: start;
  margin-left: 2%;
}.email::after{
  content: "";
  position: absolute;
  display: block;
  height: 6px;
  width: 00%;
  background-color:#F55C47;
  transition: all ease-out 550ms;
}
.email:hover::after{
  width: 100%;
}
.email:hover{
  transition: all ease-out 550ms;
  color: #F55C47;
}
.email_text{
  color: #F55C47;
  position: relative;
  font-size: 24px;
  bottom: 4px;
}
