body{
  
    font-family: 'Righteous', cursive;
    margin: 0;
    padding: 0;
    background-color: #FF7B54;
    
}



.topnav {
  position: fixed;
  width: 100%;
    background-color: #FFB26B;
    overflow: hidden;
    padding: 20px 0;
    margin: 0;
    
  }
  
 
  .topnav a {
    text-align: end;
    position: relative;
    right: 18px;
    margin-left: 32px;
    float: right;
    font-family: 'Righteous', cursive;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  :root{
    --color: #939B62;
  }
  .topnav a::after{
    content: "";
    position: absolute;
    display: block;
    height: 0.3em;
    width: 0%;
    background-color: var(--color);
    bottom: 5px;
    transition: all ease-out 300ms
  }
  .topnav:first-child{
    margin-right: auto;
    
  }
   a:hover::after{
    width: 62%;
  }
 
  .topnav a:hover {
    transition: all ease-out 500ms;
    color: #939B62;
  }
  #rollo-icon{
      background-color: #FFD56B;
      text-align: center;
  }
  #rollo{
    position: absolute;
     height: 80px;
     bottom: 1px;
      
  }
 h1{
     
    font-size: 48px;
     color: white;
     position: relative;
     margin-left: 32px;
     text-align: start;
 }
 .h1-color{
   color: #FFD56B;
 }

.about{
  margin-top: 20em;
}
 .paragrafo{
   
   font-family: 'Mulish', sans-serif;
  margin-left: 32px;
   text-align: start;
   color: white;
   font-size: 20px;

 }
 #paraph-div{
   border-radius: 8px;
   height: fit-content;
   
 }
 .enoij{
   margin-bottom: 16px;
   font-family: 'Righteous', cursive;;
   color: #FFD56B;
   font-style: unset;
  font-size: 28px;
 }

.tabacco-img{
  background-color: var(--color);
  height: fit-content;
}

.about-text{
  position: absolute;
  top: 1px;
}
.about{
  position: absolute;
 margin-top: 3%;
}


#portatabacco-h1{
  position: absolute;
  text-align: end;
  top: 120px;
   right: 79%;
}#portatabacco-h1:hover{
  transition: all ease-out 550ms;
  color: #FFD56B;
}
#portatabacco-h1:first-child{
  margin-right: auto;
}
#portatabacco-h1::after{
  content: "";
  bottom: 8px;
  position: relative;
  display: block;
  height: 6px;
  width: 00%;
  background-color:#FFD56B;
  transition: all ease-out 550ms;
}
#portatabacco-h1:hover::after{
  width: 100%;
  
}
.portatabacco1{
  opacity: 0.8;
  margin-top: 12%;
  margin-bottom: 16px;
  margin-right: 16px;
}
.portatabacco1:hover{
  opacity: 10;
  transition: all ease-out 400ms;
}
.about-text{
  position: relative;
  
}
.about-text::after{
  content: "";
  bottom: 8px;
  position: relative;
  display: block;
  height: 6px;
  width: 00%;
  background-color:#FFD56B;
  transition: all ease-out 550ms;
}
.about-text:last-child{
  margin-right: auto;
}
.about-text:hover{
  transition: all ease-out 550ms;
  color: #FFD56B;
}.about-text:hover::after{
  width: 32%;
}
.portatabacco2{
  opacity: 0.8;
  margin-bottom: 16px;
  
}.portatabacco2:hover{
  transition: all ease-out 400ms;
  opacity: 10;
}
.portatabacco3{
  opacity: 0.8;
  margin-bottom: 16px;
  margin-right: 16px;

}.portatabacco3:hover{
  transition: all ease-out 400ms;
  opacity: 10;
}
.portatabacco4{
  opacity: 0.8;
  margin-bottom: 16px;
}.portatabacco4:hover{
  
  opacity: 10;
  transition: all ease-out 400ms;
}
#product{
  
  font-display: center;
  color: white;
  position: absolute;
  display:block;
  font-size: 16px;
}
#product:hover{
  color: white;
}
.paragrafo2{
  top: 10%;
  font-family: 'Mulish', sans-serif;
   color: white;
   font-size: 20px;
}
#creator-img{
  position: relative;
  border-radius: 16em;
  right: 16px;
  bottom: 16px;
  height: 200px;
}
.creator{
  position: absolute;
  margin-left: 12px;

}
.creator{
  position: absolute;
  left: 86%;
  
}
.creator-text{
  position: relative;
  
  font-size: 32px;
  color: white;
  font-family: 'Mulish', sans-serif;
  
}
.paragrafo2{
position: relative;
text-decoration: 0;
bottom: 2px;
}
.paragrafo2:hover{
  border-radius: 5px;
  background-color: grey;
  transition: all ease-out 700ms;
 
}
